body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #34495E;
}

body {
    
    background-color: #34495E;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #D5DBDB;
    display: flex;
    place-items: center;
    border: solid black;
    flex-direction: row;
    height: 400px;
    width: 70vw;
    margin: 10px;

}

.game-container {
    margin-left: 5px;
    border: solid 1px purple;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 2;
    height: inherit;
    align-items: center;
}

.display-question {
    border: solid 1px red;
    flex-grow: .5;
    text-align: center;
    width: 100%;
}

.display-choices {
    border: solid 1px blue;
    flex-grow: 2;
    width: 100%;
}

.display-container {
    margin: 5px;
    border: solid 1px red;
    flex-grow: 1;
    height: inherit;
}

.timer {
    border: solid green 1px;
    height: fit-content;
   
    text-align: justify;
    
}

.score-keeper {
    border: solid blue 1px;
    height: 70%;
    overflow: scroll;
    text-align: center;
}


