body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #34495E;
}

body {
    
    background-color: #34495E;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #D5DBDB;
    display: flex;
    place-items: center;
    border: solid black;
    flex-direction: row;
    height: 400px;
    width: 70vw;
    margin: 10px;

}

.game-container {
    margin: 5px;
    border: 1px solid purple;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.display-question {
    border: solid 1px blue;
    flex-grow: 1;
}

.display-choices {
    border: solid 1px green;
    flex-grow: 3;

}

.click-btn {
    border: 1px solid red;
    
}


.display-container {
    display: flex;
    margin: 5px;
    border: 1px solid black;
    height: 375px; 
    flex-direction: column;
    flex-grow: 1;
}

.timer {
    border: solid 1px red;
    flex-grow: 1;
}

.score-keeper {
    border: solid 1px blue;
    flex-grow: 5;
}